@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

.modalTitle {
    margin-top: 2rem;
}

.imageModal {
    position: relative;
    width: 31.4rem;
    height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 6px rgba(0, 0, 0, .4);
}

.infoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 5px 5px;
  justify-content: center;
  width: 100%;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
  transition-duration: 400ms;
}

.infoContainer h1 {
     border-radius: 10px 10px 0 0;
     text-align: center;
     width: 100%;
     background-color: #cc5500;
     color: white;
     font-size: 2rem;
     font-family: 'Courgette', cursive;
     font-size: 1.5rem;
     padding: 15px 0;
     text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
}

.description {
    padding: .5rem;
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    color: #cc5500;
}

.closeIcon {
    position: absolute;
    color: white;
}

.extrasTitle {
    display: flex;
    font-size: 1.3rem;
    background-color: rgba(122, 122, 122, 0.6);
    padding: .5rem;
    width: 100%;
    color: white;
} 

.checkBoxContainer {
    width: 100%;
    padding: .4rem .8rem;
}

.checkBoxContainer input {
    cursor: pointer;
}

.checkBoxContainer label {
    margin-left: 0.75rem;
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
}

.price{
    position: relative;
    font-size: 1.3rem;
    font-family: 'Arimo', sans-serif;
    color: black;
}

.modalStock {
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    font-family: 'Amiro', sans-serif;
    margin: 1rem;
}

.visaSign {
    color: #187700;
}

.xSign {
    font-size: 1.5rem;
    color: #ff0000;
}

.bagBtn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    margin: 1rem;
    cursor: pointer;
    color: white;
    background: #cc5500;
    border-radius: 10px;
}

.bagBtn:hover {
    padding: .6rem 1rem;
    transition-duration: 300ms;
}